<!-- abre container -->
<div class="container">

<!-- abre row -->
<div class="row">

<!-- columna 1 -->
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pt-2 pb-2"> 
  
 <!-- abre componente card -->
 <div class="card h-100">

  <!-- imagen de la card -->
  <img class="card-img-top img-thumbnail img-st mx-auto 
	      d-block mt-2 " src="{{objImage.thumbnail}}" alt="">
   
  <!-- abre cuerpo de la card -->
  <div class="card-body">
   <h4 class="card-title">{{objImage.titulo}}</h4>
   <p class="card-text">{{objImage.descripcion}}</p>
  </div> <!-- cierra cuerpo de la card -->

 </div> <!-- cierra componente card --> 

</div> <!-- cierra columna 1 -->


</div> <!-- cierra row -->

</div> <!-- cierra container -->
